.launch-page {
    background-color: #e5533a;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    h2 {
        color: white;
        font-size: 80px;
    } 
    button {
        max-width: 120px;

    }
}