.launch-page {
    background-color: #e5533a;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    h2 {
        color: white;
        font-size: 80px;
    } 
    a {
        padding: 1rem;
        width: 200px;
        background-color: white;
        border-radius: 10px;
        font-weight: 700;
        font-size: 18px;
        color: grey;
        text-align: center;
    } 
    img {
        max-width: 150px;
        border-radius: 5px;
    }
}